.link {
    text-decoration: none;
}

.hide {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: tomato;
}

.link {
    color: red;
    width: 200px;
    padding: 10px 10px;
}

.active {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
